@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap);
:root {
  --border-radius: 20px;
  --primary-color: #f4e6aa;
  --secondary-color: #e6d385;
}
body {
  background-color: #1a1919;
  font-family: Poppins, sans-serif;
  color: #000;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
::selection {
  background: var(--primary-color);
  color: #41360d;
}
.contenedor-tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  height: 100%;
}
.contenedor-tarjeta span {
  line-height: 1.5em;
}
.fondo-tarjeta {
  height: 100%;
  background-color: var(--primary-color);
  padding: 0.5em;
  border-radius: var(--border-radius);
}
.contenedor-imagen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 0.5em solid var(--primary-color);
}
.contenedor-imagen #perfil {
  max-width: 100%;
  height: 100%;
  transition: transform 0.5s, filter 0.5s;
  object-fit: cover;
}
.contenedor-imagen:hover #perfil {
  transform: scale(1.1);
  filter: brightness(40%);
}
.texto-superpuesto {
  position: absolute;
  left: 50%;
  padding: 1em;
  top: 70%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100%;
}
.contenedor-imagen:hover .texto-superpuesto {
  opacity: 1;
}
.texto-superpuesto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.texto-superpuesto h1 {
  font-weight: 600;
  font-size: 64px;
}
.texto-superpuesto p {
  font-weight: 300;
  font-size: 14px;
  line-height: 180%;
}
.contenedor-iconos {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 2;
  gap: 0.5em;
}
.contenedor-iconos a figure img {
  width: 30px;
}
.numero-tarjeta,
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.animar-texto {
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s, transform 1s;
}
.animar-texto.activo {
  opacity: 1;
  transform: scale(1);
}
.contenedor-video div,
.contenedor-video iframe,
.contenedor-video img {
  width: 100%;
  height: 100%;
}
.contenedor-video {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.contenedor-video:hover {
  -webkit-box-shadow: 0 0 18px -4px #000;
  -moz-box-shadow: 0 0 18px -4px #000;
  box-shadow: 0 0 18px -4px #000;
  transition: 0.2s;
}
.contenedor-video-principal {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contenedor-ultimo-video {
  background-color: var(--primary-color);
  padding: 1em;
  border-radius: var(--border-radius);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-videos-secundarios {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
}
.contenedor-masVideos {
  background-color: var(--primary-color);
  border-radius: 0 0 20px 20px;
  padding: 1em;
  max-width: 1185px;
}
@media (max-width: 767.98px) {
  .contenedor-masVideos {
    gap: 1em;
  }
  #tarjetas-sm {
    margin: 1em 0;
  }
  .texto-superpuesto {
    top: 60%;
  }
  h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .texto-superpuesto h1 {
    font-size: 30px;
  }
  .texto-superpuesto p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .texto-superpuesto {
    top: 56%;
  }
  .contenedor-iconos {
    padding: 0;
    margin-top: 10px;
  }
  .contenedor-iconos a figure img {
    width: 20px;
  }
  h2 {
    font-size: 40px;
  }
  .numero-tarjeta {
    font-size: 25px;
  }
  #tarjetas-sm {
    padding: 0;
  }
}
